proyectodam2/node_modules/
proyectoTareas/node_modules/
proyectoExamen/node_modules/
*/node_modules/
*/data/
proyectoTareas/data/
proyectTareas/data/
proyectodam2/data/
proyectoExamen/data/
UNITY
UNITY/*